/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Roboto:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(207, 65%, 65%);
    --title-color: hsl(207, 4%, 16%);
    --text-color: hsl(207, 4%, 28%);
    --text-color-light: hsl(0, 0%, 1%);
    --body-color: hsl(207, 4%, 99%);
    --container-color: hsl(207, 4%, 95%);

    /* Change the first number */
    /* Blue: 207 - Purple: 250 - Pink: 356 - Teal: 174 */
    --gradient-color: linear-gradient(180deg,
    hsla(209, 69%, 65%, 0),
    hsla(203, 92%, 46%, 0.38));

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Roboto', sans-serif;
    --title-font: 'Lora', serif;
    --biggest-font-size: 1.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .625rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1424px) {
    :root {
        --biggest-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
        --tiny-font-size: .688rem;

    }

}


/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: background .4s; /* for dark mode animation */
}

h1, h2, h3 {
    color: var(--title-color);
    font-family: var(--title-font);
    font-weight: var(--font-medium);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
    height: auto;
}

/*=============== THEME ===============*/


/*========== Variables Dark theme ==========*/
body.dark-theme {
    --title-color: hsl(207, 4%, 95%);
    --text-color: hsl(207, 4%, 65%);
    --body-color: hsl(207, 4%, 10%);
    --container-color: hsl(200, 21%, 95%);
}

/*==========
    Color changes in some parts of
    the website, in light theme
==========*/


/*=============== REUSABLE CSS CLASSES ===============*/
.container {

    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 2.5rem;
}


.section__title,
.section__subtitle {
    text-align: center;
}

.section__title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    margin-top: 1rem;
    position: relative;
    top: 25rem;


}

.section__subtitle {
    display: block;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    margin-bottom: 2rem;
}

.main {
    overflow: hidden; /* For animation */
}

/*=============== HEADER & NAV ===============*/
.header{
    width: 100%;
    position: fixed;
    bottom: 2rem;
    left: 0;
    z-index: var(--z-fixed);
}
.nav{
    background-color: var(--body-color);
    height: calc(var(--header-height) + .5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 20px hsla(197, 8%, 17%, 0.1);

    padding-inline: 1.5rem ;
    border-radius: 3rem;

}
.nav_logo,
.nav--toggle,
.nav-close{
    color: var(--title-color);
}
.nav_logo{
    font-family: var(--title-font);
    font-weight: var(--font-medium);
}
.nav--toggle{
    display: flex;
    font-size: 1.25rem;
    cursor: pointer;
}
@media screen and (max-width: 1023px) {
    .nav-menu{
        position: fixed;
        width: auto;
        left: 0;
        right: 0;
        bottom: -60%;
        margin: 0 auto;
        background-color: var(--body-color);
        box-shadow: 0 4px 20px hsla(207,24%,35%,.1);
        padding: 0 1rem 1rem 1rem;
        border-radius: 3rem;
        transition: bottom .3s;
        text-align: center;
    }


}


.nav-list{
    height:140px;
    grid-template-columns: repeat(3,max-content);
    justify-content: center;
    gap: 1rem 1.5rem;
    align-items: center;

}

.nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .25rem;
    font-size: var(--small-font-size);
    color: var(--title-color);
    transition: .3s;
}
.nav-link:hover{
    color: var(--title-color);
}
.nav-link i{
    font-size: 1.25rem;
}
.nav-close{
    position: absolute;
    right: 1.5rem;
    bottom: .7rem;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Show menu */
.show-menu{
    bottom: 2rem;
}

/* Active link */
.active-link{
    color: var(--title-color);
}


/*=============== HOME ===============*/
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1 solid var(--title-color);

}

.middle {
    position: absolute;
    text-align: center;


}

.home-profile img {
    display: block;
    margin: 0 auto;
}

.home-container{
    row-gap: 4rem;
    padding: 2rem;
}
.home-data{
    row-gap: 1.5rem;
    text-align: center;
}
.home-title{
    font-size: var(--biggest-font-size);
    letter-spacing: .3px;
    margin-top: 1.5rem;
}


.home-bold{
    position: relative;
    width: 200px;
    height: 300px;
    background: var(--body-color);
    border: 2px solid var(--text-color-light);
    justify-self: center;
    border-radius:6.25rem;
    place-items: center;
    margin-left: 1.2rem;
}
.home-profile{
    width: 180px;
    height: 260px;
    background: var(--gradient-color);
    border-radius:5.5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 1.5rem;
    margin-left: .5rem;
}
.home-profile img{
    width: 150px;
    text-align: center;
    justify-content: center;
    align-items: center;

}
.home-shape-wave,
.home-shape-circle{
position: absolute;
    opacity: .1;
}
.home-shape-wave{
    width: 50px;
    left: -1.5rem;
    top: 5rem;
}
.home-shape-circle{
     width: 150px;
    bottom: -2rem;
    right: -3rem;
    transform: rotate(15deg);
    z-index: -1;
}
.home-social{
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}
.home-social-link{
    font-size: 1.25rem;
    color: var(--text-color-light);
    transition: .3s;
}
.home-social-link:hover{
    color: var(--title-color);
}
.home-info{
    display: grid;
    row-gap: 1rem;
}
.home-title{
    font-family: var(--body-font);
    font-size: var(--smaller-font-size);
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: center;
}
.home-description,
.home-info-numbers{
    font-family: var(--title-font);
    color: var(--title-color);
}
.home-description{
    text-align: center;
    width: 100%;
}
.home-info-numbers{
    font-size: var(--h1-font-size);
    font-family: var(--font-semi-bold);
    text-align: center;

}

/*=============== SKILLS ===============*/
.skills-container{
    position: relative;
    top: 25rem;
    row-gap: 3.5rem;
    padding-bottom: 5rem;
    border-bottom: 1px solid var(--text-color-light);
}
.skill-title{
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    font-size: var(--small-font-size);
    font-family: var(--font-semi-bold);
    margin-bottom: 2.5rem;
}
.skill-title i{
    font-size: 1rem;
    font-weight: initial;
}
.skill-info,
.skill-blob,
.skill-data{
    display: grid;
}
.skill-info{
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem 3rem;
}
.skill-data{
    justify-content: center;
    text-align: center;
}
.skill-blob{
    width: 80px;
    height: 100px;
    background: var(--container-color);
    place-items: center;
    border-radius: 3rem;
    margin-bottom: 1rem;
    margin-left: -7px;
}
.skill-blob img{
    width: 50px;
}
.skill-name{
    font-size: var(--small-font-size);
    margin-bottom: .5rem;

}
.skill-subtitle{
    font-size: var(--tiny-font-size);
    color: var(--text-color-light);
}

/* Animation skills */

.skill-blob:hover img{
    animation:bounce-skill .6s;

}
@keyframes bounce-skill {
    0% {
    transform: translate(0);
    }
    20%{
        transform: translateY(-6px);
    }
    40% {
        transform: translate(0);
    }
    60%{
        transform: translateY(-3px);
    }
    80%{
        transform: translate(0);
    }
}


/*=============== QUALIFICATION ===============*/
.qualification{
    position: relative;
    top:23rem;
    border-bottom: 1px solid var(--text-color-light);
}
.section__title1{
   text-align: center;
}
.qualification-container{
    row-gap: 3.5rem;
}
.qualification-title{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    font-size: var(--small-font-size);
    font-family: var(--font-semi-bold);

}
.qualification-title i{
    font-size: 1rem;
    font-weight: initial;
}
.qualification-info{
    text-align: center;
    margin-top: 1rem;
    row-gap: 2rem;
}
.qualification-name{
    font-size: var(--normal-font-size);
    margin-top: .5rem;
}
.qualification-country,.qualification-year{
    display: block;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}
.qualification-img{
    width: 150px;
    position: absolute;
    right: -3rem;
    bottom: 12rem;
    transform: rotate(15deg);
    opacity: .1;
}


/*=============== SERVICES ===============*/
.section__title4{
    text-align: center;
    margin-bottom: 1rem;
}
.services{
    position: relative;
    top:22rem;

}
.service-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--text-color-light);
}
.book {
    position: relative;
    border-radius: 10px;
    max-width: 200px;
    height: 280px;
    background-color: whitesmoke;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
}
.book p{
    margin-left: 45px;
}

.cover {
    top: 0;
    position: absolute;
    background-color:var(--container-color);
    max-width: 200px;
    height: 280px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: 1px 1px 12px #dddbdb;
    box-shadow: 1px 1px 12px #ece5e5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content:center;
    flex-direction: column;

}
.cover i{
    padding-bottom: 10px;
    text-align: center;
    font-size: 2rem;
}
.book:hover .cover {
    -webkit-transition: all 0.8s;
    transition: all.nav-close 0.8s;
    -webkit-transform: rotatey(-80deg);
    -ms-transform: rotatey(-80deg);
    transform: rotatey(-80deg);
}
.cover p{
    font-size: var(--font-medium);
}





/*=============== PROJECTS ===============*/
.section__title2{
    position: relative;
    top:17rem;
    text-align: center;
}

.project-container{
    position: relative;
    top:18rem;
    overflow: initial;

}
.project-content{
    display: grid;
    justify-content: center;
}
.project-img{
    width: 250px;
    border-radius: .75rem;
    margin-bottom: 1.25rem;
}
.project-subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}
.project-title{
    font-size: var(--h2-font-size);
    margin: .5rem 0 1.25rem;
}
.project-button{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    color: var(--title-color);
    font-size: var(--small-font-size);
}
.project-button i{
    font-size: 1rem;
    transition: transform .3s;
}
.project-button:hover{
    transform: translateX(.25rem);
}
.profile{
    height: 2rem;
    width: 2rem;
    background-size: cover;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/72/Santipur_B.Ed_College_Logo.png');
    float: left;


}


/* Swiper class */
.project-container .swiper-button-next::after,
.project-container .swiper-button-prev::after{
    content: '';
}
.project-container .swiper-button-next,
.project-container .swiper-button-prev{
    width: initial;
    height: initial;
    margin:initial;
    font-size: 2.6rem;
    color: var(--title-color);
}
.project-container .swiper-button-next{
    right: -1rem;
    top:8.5rem;
}
.project-container .swiper-button-prev{
    left: -1rem;
    top:8.5rem;
}
.project-container .swiper-pagination-bullets{
    bottom: -1rem;
}
.project-container .swiper-pagination-bullet{
    background-color: var(--text-color-light);
    opacity: initial;
}
.project-container .swiper-pagination-bullet-active{
    background-color: var(--title-color);

}

/*=============== TESTIMONIAL ===============*/


/* Swiper class */


/*=============== CONTACT ===============*/
.section__title3{
    position: relative;
    left: 8.5rem;
}

.contact-container{
    row-gap: 2.5rem;
    margin-bottom: 2rem;

}
.contact-title{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    font-size: var(--font-medium);
    font-weight: var(--font-semi-bold);
    margin-bottom: 1.5rem;
}
.contact-title i{
    font-size:1rem;
    font-weight: initial;
}
.contact-info .contact-data-title,
.contact-form .contact-data-info{
    display: grid;
    padding: .3rem;
    text-align: center;
}

.contact-data{
    padding: .3rem;
    text-align: center;
}
.contact-button-i{
    color: var(--title-color);

    font-size:1.3rem;
}
.contact-button-i:hover{
    color: #25D366;
}

.contact-form {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    position: relative;
}

.contact-form-div {
    position: relative;
    height: 4rem;
}

.contact-form-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--text-color-light);
    border-radius: 2rem;
    padding: 1.5rem;
    font-size: var(--normal-font-size);
    font-family: var(--title-font);
    color: var(--title-color);
    background: none;
    outline: none;
    z-index: 1;

}

.contact-form-tag {
    position: absolute;
    top: -.65rem;
    left: 1.25rem;
    z-index: 10;
    background-color: var(--body-color);
    color: var(--title-color);
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    padding: .35rem;
    border-radius: 4rem;
}
.contact-form-area{
    height: 10rem;
}
.contact-button{
    height: 3rem;
    width: 6rem;
    border-radius: 2.5rem;
    font-size: 1rem;
    align-self: center;
    font-weight: var(--font-semi-bold);
    background: none;
    color: var(--text-color-light);
}

.contact-content{
    position: relative;
    top: 8rem;
    justify-content: center;
    align-content: center;
    font-size: 1rem;
    padding-bottom: 10rem;

}
.section__title3{
    text-align: center;
    margin-right: 17rem;
    margin-top: 14rem;
    font-size: 1.25rem;


}




@media(max-width: 1100px){
    .messageForm .halfWidth{
        flex-basis: 100%;
    }
}
@media(max-width: 900px){
    .container .row{
        flex-wrap: wrap;
    }
    .row section.left, .row section.right{
        flex-basis: 100%;
        margin: 0px;
    }
}
.left,.right{
    position: relative;
    top: 30rem;
}



/* Status color */
.color-red{
    color: red;
}
.color-blue{
    color: #047fd7;
}


/*=============== FOOTER ===============*/
.footer {
    color: var(--title-color);
    text-align: center;
    padding-top: 5rem;

}
.footer-list{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5rem;
    padding-top: 2.5rem;

}
.footer-link {
    color: var(--text-color);
}

.footer-content {
    padding-top: 2.5rem;
    padding-bottom: 12rem;

}






/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #eeebeb;
    border-radius: .6rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #eee7e7;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ddd9d9;
}
             /*THEME*/
.nav-button{
    display: flex;
    align-items: center;
    column-gap: 1.5rem;

}
.services{
    position: relative;
    top:22rem;

}
.change-theme{
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
    transition: transform .3s;
}
/*variable for dark theme*/
body .dark-theme {
    --first-color: hsl(207, 45%, 70%);
    --title-color: hsl(192, 16%, 94%);
    --text-color: hsl(200, 10%, 94%);
    --text-color-light: hsl(180, 7%, 86%);
    --body-color: hsl(0, 0%, 9%);
    --container-color: hsl(0, 0%, 9%);
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
    .skill-info{
        grid-template-columns: repeat(2,1fr);
        gap: 2.5rem 3rem;
    }
    .nav-list{
        height:130px;
        grid-template-columns: repeat(3,max-content);
        justify-content: center;
        gap: .5rem .5rem;
        align-items: center;

    }



}

.ri-eye-line{
    position: relative;
    left: 4rem;
    top :5rem;
    color: var(--text-color-light);

}


/* For medium devices */
@media screen and (min-width: 1023px) {
    .services {
        position: relative;
        top: 2rem;

    }

    .home-container {
        display: grid;
        padding-top: 4rem;
        grid-template-columns: 1fr 1fr 1fr;
        padding-bottom: 0;

    }

    .home-data {
        row-gap: 1.5rem;
        text-align: center;
    }

    .home-title {

        font-size: var(--biggest-font-size);
        letter-spacing: .3px;
        margin-bottom: .5rem;
    }

    .home-bold {
        position: relative;
        width: 300px;
        height: 400px;
        background: var(--body-color);
        border: 2px solid var(--text-color-light);
        justify-self: center;
        border-radius: 10rem;
        place-items: center;


    }

    .home-profile {
        width: 280px;
        height: 370px;
        background: var(--gradient-color);
        border-radius: 10rem;
        overflow: hidden;
        display: flex;
        justify-content: center;
        margin-top: 1.25rem;
        margin-left: .5rem;


    }

    .home-profile img {
        width: auto;
        text-align: center;

    }

    .home-shape-wave,
    .home-shape-circle {
        position: absolute;
        opacity: .1;
    }

    .home-shape-wave {
        width: 80px;
        left: -2rem;
        top: 2rem;
        z-index: -1;
    }

    .home-shape-circle {
        width: 150px;
        bottom: -2rem;
        right: -3rem;
        transform: rotate(15deg);
        z-index: -1;
    }

    .home-social {
        display: flex;
        justify-content: center;
        column-gap: 1.25rem;
        padding-left: 1rem;
    }

    .home-social-link {
        font-size: 1.25rem;
        color: var(--text-color-light);
        transition: .3s;
    }

    .home-social-link:hover {
        color: var(--title-color);
    }

    .home-info {
        display: grid;
        row-gap: 1rem;

    }

    .home-title {
        font-family: var(--font-semi-bold);
        font-size: var(--normal-font-size);
        font-weight: 600;
        margin-top: 1.5rem;

    }

    .home-description,
    .home-info-numbers {
        font-family: var(--title-font);
        color: var(--title-color);
        text-align: center;
    }

    .home-description {
        text-align: center;
        width: 100%;
    }

    .home-info-numbers {
        font-size: var(--h1-font-size);
        font-family: var(--font-semi-bold);
        text-align: center;

    }

    .middle {
        position: relative;
        left: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 1.5rem;

    }

    .home {
        display: none;
    }

    .home-container {
        padding-bottom: 10rem;
        border-bottom: 1px solid var(--text-color-light);

    }

    .project-container {
        overflow: initial;

    }

    .project-content {
        display: grid;
        justify-content: center;
    }

    .project-img {
        width: 450px;
        border-radius: .75rem;
        margin-bottom: 1.25rem;
    }

    .project-subtitle {
        font-size: var(--small-font-size);
        color: var(--text-color-light);
    }

    .project-title {
        font-size: var(--h2-font-size);
        margin: .5rem 0 1.25rem;
    }

    .project-button {
        display: inline-flex;
        align-items: center;
        column-gap: .5rem;
        color: var(--title-color);
        font-size: var(--small-font-size);
    }

    .project-button i {
        font-size: 1rem;
        transition: transform .3s;
    }

    .project-button:hover i {
        transform: translateX(.25rem);
    }

    /* Swiper class */
    .project-container .swiper-button-next::after,
    .project-container .swiper-button-prev::after {
        content: '';
    }

    .project-container .swiper-button-next,
    .project-container .swiper-button-prev {
        width: initial;
        height: initial;
        margin: initial;
        font-size: 2.6rem;
        color: var(--title-color);
    }

    .project-container .swiper-button-next {
        right: -1rem;
        top: 8.5rem;
    }

    .project-container .swiper-button-prev {
        left: -1rem;
        top: 8.5rem;
    }

    .section__title2 {
        position: relative;
        top: 0;
        text-align: center;
    }

    .project-container .swiper-pagination-bullets {
        bottom: 1rem;
    }

    .project-container .swiper-pagination-bullet {
        background-color: var(--text-color-light);
        opacity: initial;
    }

    .project-container .swiper-pagination-bullet-active {
        background-color: var(--title-color);
    }

    .contact-container {

        display: grid;

        grid-template-columns: 1fr 1.5fr;
    }

    .contact-form-div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;


    }


    .book {
        position: relative;
        border-radius: 10px;
        max-width: 400px;
        height: 480px;
    }

    .cover {
        top: 0;
        position: absolute;
        background-color: var(--container-color);
        min-width: 400px;
        height: 480px;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }

    .qualification-container {

        display: grid;
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        column-gap: 16rem;

    }

    .qualification-content, .qualification-info {
        margin-top: 2rem;
        row-gap: 5rem;
    }

    .contact-container {
        padding-bottom: 1rem;
        border-bottom: 1px solid var(--text-color-light);

    }

    .section__title3 {
        position: relative;
        top: 0;
    }

    .header {

        top: 0;
        bottom: initial;
        background-color: var(--body-color);
        transition: .3s;
    }

    .nav {
        width: initial;
        height: calc(var(--header-height) + 1.5rem);
        box-shadow: none;
        column-gap: 3rem;
        margin-inline: 1.5rem;
        padding: 0;
        border-radius: 0;

    }

    .nav-close, .nav--toggle {
        display: none;

    }

    .nav-menu {
        width: initial;
        margin-left: auto;
        background-color: var(--body-color);
        transition: background-color .3s;
    }

    .nav-list {
        display: flex;
        column-gap: 4rem;
        font-size: var(--normal-font-size);
    }

    .nav_logo {
        font-weight: 400;
        font-family: sans-serif;
        font-size: 1.2rem;
    }

    .nav-link hide {
        display: none;
    }

    .left {
        position: relative;
        top: 1rem;
    }

    .right {
        position: relative;
        top: 1rem;
    }

    .skills-container {
        position: relative;
        top: 1rem;
        row-gap: 3.5rem;
    }

    .section__title3 {
        text-align: center;
        margin-right: 17rem;
        margin-top: 14rem;


    }

    .section__title {
        position: relative;
        top: 1rem;

    }

    .section__title1 {
        align-items: center;
        text-align: center;

    }

    .section__title2, .section__title4 {
        text-align: center;
        margin-top: 2rem;

    }

    .contact-content {
        position: relative;
        top: 8rem;
        justify-content: center;
        align-content: center;
        font-size: 1.5rem;
        padding-bottom: 10rem;
        border-bottom: 2px solid var(--text-color-light);

    }

    .footer-content {
        padding: 0;

    }

    .nav-list {
        height: 80px;


    }

    .ri-eye-line {
        position: relative;
        left: 11rem;
        top: 12rem;
        color: var(--text-color-light);

    }

    .qualification {
        position: relative;
        top: 2rem;
        border-bottom: 1px solid var(--text-color-light);
    }

    .project-container {
        position: relative;
        top: 2rem;
        border-bottom: 1px solid var(--text-color-light);


    }
    .profile{
        height: 2.75rem;
        width: 2.75rem;
    }
}
@media screen and (max-width: 320px) {
    .nav-list{
        height:130px;
        grid-template-columns: repeat(3,max-content);
        justify-content: center;
        gap: .75rem 1rem;
        align-items: center;
    }



}